<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>PredictionMadness</title>
	<link href="@routes.Assets.versioned("css/style.css")" rel="stylesheet" type="text/css" media="all" />
	<!--fonts-->
		<link href='//fonts.googleapis.com/css?family=Sintony:700,400' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<!--//fonts-->
		<link href="@routes.Assets.versioned("css/bootstrap.css")" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Infusion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script type="text/javascript" src="@routes.Assets.versioned("js/jquery.min.js")"></script>
	<!-- js -->
	<!-- start-smooth-scrolling -->
		<script type="text/javascript" src="@routes.Assets.versioned("js/move-top.js")"></script>
		<script type="text/javascript" src="@routes.Assets.versioned("js/easing.js")"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smooth-scrolling -->

</head>
<body>
<!-- header -->
<div class="header">
	<div class="header-left">

	</div>
	<div class="header-right">
		<span class="menu"><img src="@routes.Assets.versioned("images/menu.png")" alt=""/></span>
        <ul class="nav1">
            <li><a class="active" href="@routes.Application.index()">PREDICTION MADNESS</a></li>
            <li><a href="@routes.Application.regresion()">REGRESIÓN</a></li>
            <li><a href="@routes.Application.clasifica()">CLASIFICACIÓN</a></li>
        </ul>
				<!-- script for menu -->
					<script> 
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
				<!-- //script for menu -->

	</div>
	<div class="clearfix"></div>
</div>
<!-- //header -->
<!-- services -->
<div class="services">
	<div class="container">
		<div class="services-info">
			<h3>MÉTODOS DE <span>CLASIFICACIÓN</span></h3>
		</div>
		<div class="services-grids">
				<div class="col-md-4 services-grid">
					<div class="services-left">
                        <a href="@routes.Application.formu()"><p>01</p></a>
					</div>
					<div class="services-right">
						<h3>ÁRBOL C4.5</h3>
						<p>En esta opción podrá predecir sus datos a través de un árbol de decisión C4.5. Se predecirá si
                            el artículo será popular o no de acuerdo a las características que ingrese. </p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 services-grid">
					<div class="services-left">
                        <a href="@routes.Application.formurand()"><p>02</p></a>
					</div>
					<div class="services-right">
						<h3>RANDOM FOREST</h3>
						<p>En esta opción podrá predecir sus datos a través de un random forest. Se predecirá si
                            el artículo será popular o no de acuerdo a las características que ingrese.  </p>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="clearfix"></div>
		</div>
		
	</div>
</div>
<div class="services-list">
	<div class="container">
		<div class="serv-list-info">
			<h3>LISTA DE TODOS <span> LOS ALGORITMOS</span></h3>
			<p>Acá podrá encontrar todas las opciones que tiene para predecir. Hay tanto métodos de clasificación como de regresión.</p>
		</div>
		<div class="serv-list-grids">
			<div class="col-md-4 serv-list-grid">
				<ul>
                    <li><a href="@routes.Application.clasifica()">Árbol C4.5 (Clasificación)</a></li>
                    <li><a href="@routes.Application.regresion()">Regresión Lineal (Regresión)</a></li>
                    <li><a href="@routes.Application.regresion()">Tabla de Decisión (Regresión)</a></li>
                    <li><a href="@routes.Application.clasifica()">Random Forest (Clasificación)</a></li>
				</ul>
			</div>


			<div class="clearfix"></div>
		</div>
	</div>
</div>

<!-- //services -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-2 footer-grid logobtm">
                <a href="index.html">Prediction Madness</a>
            </div>
            <div class="col-md-5 footer-grid">
                <p>Esta página fue desarrollada con el fin de mostrar de una manera diferente los resultados de algunas predicciones.
                    Se quería ir más allá de las herramientas vistas en el curso, y usar otras librerías y lenguajes de programación para predecir</p>
            </div>

            <div class="clearfix"> </div>
        </div>
        <div class="copy-right">
            <p>Un trabajo desarrollado por <a > Prediction Madness</a> </p>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- //footer -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->

</body>
</html>